<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nom du match</h5>
        <small class="text-muted">date match</small>
      </div>
      <small class="text-muted">heure lieu</small>
      <p class="mb-1">aperçu du dernier message envoyé</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nom du match - supporter</h5>
          <small class="text-muted">date match</small>
        </div>
        <small class="text-muted">heure lieu</small>
        <p class="mb-1">aperçu du dernier message envoyé</p>
      </a>
  </div>

  <a href="#conv" class="btn btn-secondary">to template conv</a>

  <!--on fait apparaitre tous les groupes dont fait partis l'utilisateur comme sur whatsapp-->