    <img src="img/fondconnexion.png" class="card-img-top" alt="">
    <div class="width98">
        <h5 class="card-title titretemplate">Bienvenue sur Pronostix</h5>
        <div class="centrertext">-</div>
        <p class="card-text">Vous avez déjà un compte ?</p>
        <a href="#login" id='connexion' class="btn btn-primary" id>Se connecter</a>
        <div class="centrertext">-</div>
        <p class="card-text">Sinon qu'attends tu pour en créer un et devenir le joueur le plus côté de l'X !
            <img src="img/emoji-satisfied.svg" alt=''>
        </p>
        <a href="#register" class="btn btn-primary" id='newaccount'>Créer un nouveau compte</a>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>