<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Nom d'utilisateur</span>
    <input id = 'login' type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"></input>
</div>


<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Mot de passe</span>
    <input id = 'mdp' type="password" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"></input>
</div>
<button type="button" id ="connexion" class="btn btn-outline-warning">Connexion</button>