<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Nom</span>
    <input id = 'inputnom' type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Prénom</span>
    <input id = 'inputprenom' type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Sport</span>
    <input id = 'inputsport' type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Poste</span>
    <input id = 'inputposte' type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Mail</span>
    <input id = 'inputmail' type="email" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Login</span>
    <input id = 'inputlogin' type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Mot de passe</span>
    <input id = 'inputmdp' type="password" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Confirmation du mot de passe</span>
    <input id = 'inputconfmdp' type="password" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
</div>

<button id="creationcompte" class="btn btn-primary">Créer mon compte</button>

<div class="width98">Une fois votre compte créé avec succès :</div>

<a href="#login" class="btn btn-primary" id>Se connecter</a>
