<div class="form-group width98">
    <label for="exampleFormControlInput1">Score équipe domicile</label>
    <input type="number" class="form-control" id="ajoutscoredom"/>
</div>
<div class="form-group width98">
    <label for="exampleFormControlInput1">Score équipe visiteuse</label>
    <input type="number" class="form-control" id="ajoutscorevis"/>
</div>

<div class="btn-group" role="group" aria-label="Basic example" id="ajoutscorediv">
    <button id="ajoutscore" type="button" class="btn btn-secondary">Ajouter le score</button>
</div>

<div class="btn-group" role="group" aria-label="Basic example" id="annulscorediv">
    <button id="annulscore" class="btn btn-secondary" type="submit button">Annuler la saisie</button>
</div>