<!--recherche soit de joueurs, soit d'un match-->
    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" id="inputsearch">
    <button class="btn btn-outline-success" type="submit" style="width: 49.29%" id="searchdesjoueurs">Rechercher un joueur</button>
    <button class="btn btn-outline-success" type="submit" style="width: 49.29%" id="searchdesmatchs">Rechercher un match</button>

    <div class="form-control" id="resultsearch">Aucun résultat</div>

    <div id="#profilclique"></div>
